{{#if editing}}
  {{post-forms post=post submit="submit"}}
{{else}}
<div {{action "edit"}}>
<p>Title: {{post.reviewTitle}}</p>
<p>Category: {{post.category}}</p>
<p>Text: {{post.reviewText}}</p>
<p>Post Author: {{post.user.email}}</p>
<p>ID: {{post.id}}</p>
<button class='btn-xs btn-danger' {{action 'deletePost'}}>Delete</button>
</div>

{{/if}}
