<h2>Edit Review</h2>
<label>Review Title</label>
{{input type="text" placeholder="Post Title" value=reviewTitle}}
<label>Review Category</label>
{{input type="text" placeholder="Category" value=category}}
<label>Review Text</label>
{{input type="text" placeholder="Review Body" value=reviewText}}
<button {{action "update"}}>Update</button>
<button {{action "closeEdit"}}>Cancel</button>
